<form class="col-12" #form="ngForm" autocomplete="off" (ngSubmit)="gerenciarPersistencia()">
    <div class="col-12 box" fxLayout="row" fxLayoutAlign="center center">
        <img class="img" [src]="userDTO.user.photoURL">
    </div>
    <p-panel class="col-12" header="Dados pessoais" [toggleable]="true">
        <div class="p-grid p-fluid">
            <div class="col-12 col-md-3">
                <label>Nome</label>
                <input type="text" name="name" [(ngModel)]="userDTO.user.name" required maxlength="20" pInputText
                    [disabled]="!this.isUpdate">
                <small class="obrigatorio">Campo obrigatorio</small>
            </div>
            <div class="col-12 col-md-2">
                <label>CPF</label>
                <p-inputMask mask="999.999.999-99" name="nuResgistration" [(ngModel)]="userDTO.user.nuResgistration"
                    [disabled]="!this.isUpdate"></p-inputMask>
                <small class="opcional">Campo opcional</small>
            </div>
            <div class="col-12 col-md-2">
                <label>Genero</label>
                <p-dropdown name="genre" [options]="generos" appendTo="body" [(ngModel)]="userDTO.user.genre"
                    [disabled]="!this.isUpdate">
                </p-dropdown>
                <small class="opcional">Campo opcional</small>
            </div>
            <div class="col-12 col-md-2" *ngIf="isType">
                <label>Tipo</label>
                <p-dropdown name="type" [options]="tipos" appendTo="body" [(ngModel)]="userDTO.user.type"
                    [disabled]="!this.isUpdate||!this.isUpdateType" label="Selecionar" required>
                </p-dropdown>
                <small class="obrigatorio">Campo obrigatorio</small>
            </div>
            <div class="col-12 col-md-2">
                <label>Celular</label>
                <p-inputMask mask="(99) 99999-9999" name="cellPhone" [(ngModel)]="userDTO.user.cellPhone"
                    [disabled]="!this.isUpdate">
                </p-inputMask>
                <small class="opcional">Campo opcional</small>
            </div>
            <div class="col-12 col-md-4">
                <label>E-mail</label>
                <input type="text" name="mail" [(ngModel)]="userDTO.user.mail" required maxlength="100" pInputText
                    disabled>
                <small class="obrigatorio">Campo obrigatorio</small>
            </div>
            <div class="col-12 col-md-2">
                <label>Nascimento</label>
                <p-calendar name="dtBirth" [(ngModel)]="userDTO.user.dtBirth" [locale]="this.apoioService.language"
                    dateFormat="dd/mm/yy" showButtonBar="true" readonlyInput="false" appendTo="body" showIcon="true"
                    [disabled]="!isUpdate" [yearNavigator]="true" yearRange="1970:2020" [monthNavigator]="true">
                </p-calendar>
                <small class="opcional">Campo opcional</small>
            </div>
            <div class="col-12 col-md-2" *ngIf="isActive">
                <label>Ativo</label>
                <p-toggleButton name="isActive" [(ngModel)]="this.userDTO.user.isActive" onLabel="Ativo"
                    offLabel="Inativo" required [disabled]="!isUpdate||!isUpdateActive"></p-toggleButton>
                <small class="obrigatorio">Campo obrigatório</small>
            </div>
        </div>
    </p-panel>
    <p-panel class="col-12" header="Endereço" [toggleable]="true">
        <div class="p-grid p-fluid">
            <div class="col-6 col-md-2">
                <label>CEP</label>
                <p-inputMask mask="99999-999" name="zipCode" [(ngModel)]="userDTO.user.zipCode" slotChar=""
                    (onBlur)="getEnderecoPorCep(userDTO.user.zipCode)" [disabled]="!this.isUpdate"></p-inputMask>
                <small class="opcional">Campo opcional</small>
            </div>
            <div class="col-6 col-md-1">
                <label>UF</label>
                <input pInputText type="text" name="stateCode" [(ngModel)]="userDTO.user.stateCode" maxlength="2"
                    [disabled]="!this.isUpdate">
                <small class="opcional">Opcional</small>
            </div>
            <div class="col-12 col-md-3">
                <label>Cidade</label>
                <input pInputText type="text" name="city" [(ngModel)]="userDTO.user.city" maxlength="30"
                    [disabled]="!this.isUpdate">
                <small class="opcional">Campo opcional</small>
            </div>
            <div class="col-12 col-md-3">
                <label>Bairro</label>
                <input pInputText type="text" name="neighborhood" [(ngModel)]="userDTO.user.neighborhood" maxlength="30"
                    [disabled]="!this.isUpdate">
                <small class="opcional">Campo opcional</small>
            </div>
            <div class="col-12 col-md-3">
                <label>Logradouro</label>
                <input pInputText type="text" name="publicPlace" [(ngModel)]="userDTO.user.publicPlace" maxlength="50"
                    [disabled]="!this.isUpdate">
                <small class="opcional">Campo opcional</small>
            </div>
            <div class="col-6 col-md-2">
                <label>Complemento</label>
                <input pInputText type="text" name="complement" [(ngModel)]="userDTO.user.complement" maxlength="15"
                    [disabled]="!this.isUpdate">
                <small class="opcional">Campo opcional</small>
            </div>
            <div class="col-6 col-md-2">
                <label>Número</label>
                <input pInputText type="text" name="nuPlace" [(ngModel)]="userDTO.user.nuPlace" maxlength="10"
                    [disabled]="!this.isUpdate">
                <small class="opcional">Opcional</small>
            </div>
        </div>
    </p-panel>
    <div class="row">
        <button class="col-12 col-md-2" type="submit" *ngIf="this.isUpdate"
            [icon]="this.userDTO.id == null?'pi pi-plus':'pi pi-pencil'"
            [label]="this.userDTO.id==null?'Inserir':'Atualizar'" [disabled]="!form.valid" pButton></button>
        <button *ngIf="isBtnCancel" class="col-12 col-md-2" icon="pi pi-trash" label="Cancelar"
            (click)="retornoPersistencia.emit(false)" pButton></button>
    </div>
</form>