<p-dialog [header]="this.publishDTO.id == null ?'Inserir publicação':'Edição de publicação'" [(visible)]="displayForm"
    [modal]="true" [style]="{width: '95%'}" [maximizable]="true" [draggable]="false" [resizable]="false"
    [closable]="false">
    <form class="row p-fluid" #f="ngForm" autocomplete="off" (ngSubmit)="gerenciarPersistencia()">
        <div class="col-12">
            <label>Titulo</label>
            <input type="text" name="title" [(ngModel)]="publishDTO.publish.title" required maxlength="150" pInputText
                required [disabled]="!isUpdate">
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-12 col-md-3">
            <label>Tipo</label>
            <p-dropdown name="type" [options]="tipos" appendTo="body" [(ngModel)]="publishDTO.publish.type"
                appendTo="body" required [disabled]="!isUpdate">
            </p-dropdown>
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-12 col-md-2">
            <label>Data publicação</label>
            <p-calendar name="dt_publish" [(ngModel)]="publishDTO.publish.dt_publish"
                [locale]="this.apoioService.language" dateFormat="dd/mm/yy" showButtonBar="true" readonlyInput="false"
                appendTo="body" showIcon="true" *ngIf="displayForm" required [disabled]="!isUpdate">
            </p-calendar>
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-12 col-md-4">
            <label>Usuário</label>
            <p-dropdown name="uid" [options]="users" appendTo="body" [(ngModel)]="this.publishDTO.publish.user"
                appendTo="body" [autoDisplayFirst]="false" [filter]="true" optionLabel="name" required
                [disabled]="!isUpdate||!isSelectUser">
            </p-dropdown>
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-12 col-md-2">
            <label>Ativo</label>
            <p-toggleButton name="isActive" [(ngModel)]="this.publishDTO.publish.isActive" onLabel="Ativo"
                offLabel="Inativo" required [disabled]="!isUpdate"></p-toggleButton>
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-12">
            <label>Descrição</label>
            <textarea name="description" [rows]="5" [cols]="30" [(ngModel)]="publishDTO.publish.description"
                autoResize="autoResize" pInputTextarea maxlength="2500" required *ngIf="displayForm"
                [disabled]="!isUpdate"></textarea>
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
    </form>
    <ng-template pTemplate="footer" *ngIf="isUpdate">
        <button type="button" (click)="gerenciarPersistencia()"
            [icon]="this.publishDTO.id == null?'pi pi-plus':'pi pi-pencil'"
            [label]="this.publishDTO.id == null ?'Inserir':'Atualizar'" [disabled]="!f.valid" pButton>
        </button>
        <button type="button" label="Cancelar" icon="pi pi-trash" (click)="this.retornoPersistencia.emit(false)"
            pButton></button>
    </ng-template>
</p-dialog>