<footer>
    <div class="col-12 row">
        <div class="col-12 col-md-3">
            <h4>Redes sociais:</h4>
            <p>
                <a href="https://www.linkedin.com/in/abel-gasque/">
                    Linkdin - Abel Gasque
                </a>
            </p>
        </div>
        <div class="col-12 col-md-3">
            <h4>Contato</h4>
            <p>abelgasque21@gmail.com</p>
        </div>
        <div class="col-12 col-md-3">
            <h4>Equipe</h4>
            <p>Abel Gasque</p>
        </div>
        <div class="col-12 col-md-3">
            <h4>Sobre</h4>
            <h6>Outro projeto web com Angular</h6>
            <a href="https://stark-garden-05417.herokuapp.com/">
               Sistema de controle financeiro 
            </a>

        </div>
    </div>
</footer>
<mat-divider></mat-divider>
<footer>
    &copy; Todos diretórios reservado 2020
</footer>