<p-table [value]="publications" [responsive]="true" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Registro {first} até {last} com total de {totalRecords} registros">
    <ng-template pTemplate="caption" *ngIf="isAddPublish">
        <div class="ui-helper-clearfix" style="text-align: center" *ngIf="this.authService.userDTO.id!=null">
            <p-splitButton label="Atualizar" icon="pi pi-refresh" (onClick)="this.returnPersist.emit(true);"
                [model]="this.itemsTable">
            </p-splitButton>
        </div>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr style="background-color: grey;">
            <td data-aos="fade-down" data-aos-duration="1000">
                <mat-card>
                    <mat-card-header *ngIf="isHeader"
                        (click)="this.apoioService.getUserAccount(rowData.publish.user.id)">
                        <img mat-card-avatar [src]="rowData.publish.user.photoURL">
                        <mat-card-title>{{rowData.publish.user.name}}</mat-card-title>
                        <mat-card-subtitle>
                            {{this.apoioService.formatTimestampToDate(rowData.publish.dt_publish)}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-12 p-fluid">
                                <mat-card-title>{{rowData.publish.title}}</mat-card-title>
                                <mat-card-subtitle *ngIf="isActiveHeader"
                                    [style.color]="rowData.publish.isActive?'green':'red'">
                                    {{rowData.publish.isActive?'Ativo':'Inátivo'}}
                                </mat-card-subtitle>
                                <div class="col-12">
                                    <p>{{rowData.publish.description}}</p>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button *ngIf="isFooter&&this.authService.userDTO.id==rowData.publish.user.id" mat-button
                            type="button" (click)="getPublish(rowData.id)">Editar</button>
                    </mat-card-actions>
                </mat-card>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td>
                <h2>Sem dados para listar.</h2>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-publish-model-form [publishDTO]="publishDTO" [isSelectUser]="false" [isUpdate]="true" [displayForm]="displayForm"
    (retornoPersistencia)="returnPersistForm($event)">
</app-publish-model-form>