<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <mat-card data-aos="fade-down" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                Blog de publicações
                            </h1>
                            <p>
                                Esse projeto foi desenvolvido com o foco de apresentar um blog de publicações
                                para uma determinada instituição de ensino e seus colaboradores e nesse cenário
                                pensamos na faculdade Estácio de Sá e sua turma de Sistema de Informações o intuito é
                                deixar que novas informações circulem e se propaguem por toda instituição de maneira
                                fácil,
                                rápida e em tempo real para que a experiência do usuário seja cada vez mais agradável,
                                utilizando diversos recursos um deles é Firebase que vamos ressaltar, sua sincronização
                                de conta do Gmail ou Facebook auxilia no seu cadastro imediato após login sem precisar
                                preencher formulários logo de início.
                                Focamos apenas no MVC, não foi preciso desenvolver uma API graças ao Firebase então
                                focamos na aplicação web que atualmente existe 8 módulos, mais de 20 componentes e 2
                                classes de serviço foi necessário para gerar o resultado atual sem contar alguns micro
                                serviços e serviços utilizados para facilitação de desenvolvimento. Existem dois níveis
                                de acesso que são de dois tipos que são os ADMINISTRADORES e COMUNS podendo ter apenas
                                um nível de acesso, devemos informar que quando um novo usuário cria sua primeira conta
                                ele recebe um nível de acesso COMUM e desativado, o novo usuário só poderá colaborar no
                                blog caso um ADMINISTRADOR libere seu acesso.
                                Os ADMINISTRADORES tem total acesso a todos os módulos do sistema sem restrições podendo
                                fazer liberação de usuários, além de poder monitorar as publicações que podem aparecer
                                na página inicial do blog e editar seus perfil, já os usuários COMUNS pode gerenciar
                                apenas suas publicações, pode fazer edições no seus perfil e visualizar perfis e
                                publicações de outros usuários cadastrados.

                            </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-12">
                <mat-card data-aos="fade-down" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img class="img" src="../../../assets/img/angular-icon.svg">
                        </div>
                        <div class="col-12 col-md-9">
                            <h1>
                                <a href="https://angular.io/docs">
                                    Angular 10
                                </a>
                                -
                                <a href="https://cli.angular.io/">
                                    Angular CLI
                                </a>
                            </h1>

                            <h5>Angular 10</h5>
                            <p>
                                É uma estrutura de design de aplicativo e plataforma de desenvolvimento para a
                                criação de aplicativos eficientes e sofisticados de página única.

                                Esses documentos do Angular ajudam você a aprender e usar a estrutura Angular e a
                                plataforma
                                de desenvolvimento, desde seu primeiro aplicativo até a otimização de aplicativos
                                complexos
                                de página única para empresas. Tutoriais e guias incluem exemplos para download para
                                acelerar seus projetos.
                            </p>
                            <h5>Angular CLI</h5>
                            <p>
                                É uma ferramenta de interface de linha de comando que você usa para
                                inicializar, desenvolver, criar scaffold e manter aplicativos Angular diretamente de um
                                shell de comando.
                            </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-12">
                <mat-card data-aos="fade-down" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <h1>
                                <a href="https://material.angular.io/">
                                    Angular Material
                                </a>
                            </h1>
                            <h5>Alta qualidade</h5>
                            <p>
                                Componentes internacionalizados e acessíveis para todos. Bem testado para garantir
                                desempenho e confiabilidade.
                                APIs diretas com comportamento consistente entre plataformas
                            </p>
                            <h5>Versátil</h5>
                            <p>
                                Fornece ferramentas que ajudam os desenvolvedores a construir seus próprios componentes
                                personalizados com padrões de interação comuns.
                                Customizável dentro dos limites da especificação do Material Design.
                            </p>
                            <h5>Sem atrito</h5>
                            <p>
                                Criado pela equipe do Angular para se integrar perfeitamente ao Angular.
                                Comece do zero ou entre em seus aplicativos existentes.
                            </p>
                        </div>
                        <div class="col-12 col-md-3">
                            <img class="img" src="../../../assets/img/angular-material-icon.png">
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-12">
                <mat-card data-aos="fade-down" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img class="img" src="../../../assets/img/firebase-icon.png">
                        </div>
                        <div class="col-12 col-md-9">
                            <h1>
                                <a href="https://firebase.google.com/docs/">
                                    Firebase
                                </a>
                            </h1>
                            <p>
                                O Firebase fornece as ferramentas para desenvolver aplicativos de alta qualidade,
                                ampliar a
                                base de usuários e lucrar mais. Nós cuidamos do básico para você poder gerar receita nos
                                negócios e se dedicar aos usuários.
                            </p>
                            <h5>
                                <a href="https://firebase.google.com/docs/firestore">
                                    Cloud Firebase
                                </a>
                            </h5>
                            <p>
                                O Cloud Firestore é um banco de dados flexível e escalonável para desenvolvimento de
                                dispositivos móveis, Web e servidores a partir do Firebase e do Google Cloud Platform.
                                Como
                                o Firebase Realtime Database, ele mantém seus dados em sincronia em aplicativos cliente
                                por
                                meio de listeners em tempo real. Além disso, oferece suporte off-line para dispositivos
                                móveis e Web para que você possa criar aplicativos responsivos que funcionem
                                independentemente da latência da rede ou da conectividade com a Internet. O Cloud
                                Firestore
                                também oferece integração perfeita com outros produtos do Firebase e do Google Cloud
                                Platform, incluindo o Cloud Functions.
                            </p>
                            <h5>
                                <a href="https://firebase.google.com/docs/hosting">
                                    Firebase Hosting
                                </a>
                            </h5>
                            <p>
                                O Firebase Hosting é uma hospedagem de conteúdo Web de nível de produção para
                                desenvolvedores. Com um único comando, é possível implantar apps da Web rapidamente e
                                exibir
                                conteúdo estático e dinâmico a uma rede de distribuição de conteúdo (CDN) global. Também
                                é
                                possível associar o Firebase Hosting ao Cloud Functions ou ao Cloud Run para criar e
                                hospedar microsserviços no Firebase.
                            </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-12">
                <mat-card data-aos="fade-down" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <h1>
                                <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">
                                    Bootstrap 4
                                </a>
                            </h1>
                            <p>
                                Framework mais conhecido do mundo para criar sites responsivos e
                                mobile, comece com o BootstrapCDN e nosso template inicial.
                            </p>
                        </div>
                        <div class="col-12 col-md-3">
                            <img class="img" src="../../../assets/img/bootstrap-icon.png">
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-12">
                <mat-card data-aos="fade-down" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img class="img" src="../../../assets/img/primeng-icon.png">
                        </div>
                        <div class="col-12 col-md-9">
                            <h1>
                                <a href="https://www.primefaces.org/primeng/#/">
                                    PrimeNG
                                </a>
                            </h1>
                            <p>
                                A biblioteca de componentes de interface do usuário angular mais poderosa
                                Seu companheiro perfeito para Angular com componentes de interface do usuário elegantes,
                                de alto desempenho, acessíveis e totalmente personalizáveis.
                                Também disponível para React, Vue e Java.PrimeNG é desenvolvido pela PrimeTek
                                Informatics , o fornecedor mundialmente conhecido com anos de experiência no
                                desenvolvimento de bibliotecas de componentes de UI de código aberto.
                            </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-12">
                <mat-card data-aos="fade-down" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <h1>
                                <a href="https://michalsnik.github.io/aos/">
                                    AOS Animate On Scroll Library
                                </a>
                            </h1>
                            <p>
                                A ideia por trás do AOS é direta: observe todos os elementos e suas posições com base
                                nas configurações fornecidas por você. Em seguida, adicione / remova a classe
                                aos-animate. Claro, na prática, nem sempre é tão fácil, mas a ideia por trás do AOS é
                                tão simples quanto isso. Cada aspecto da animação é controlado por CSS.
                                O AOS é totalmente de código aberto, então se você tem uma ideia interessante ou algo
                                não está funcionando, você esperaria que o problema fosse aberto e o encontrasse no
                                <a href="https://github.com/michalsnik/aos">GitHub</a>
                                Qualquer contribuição é muito apreciada.
                            </p>
                        </div>
                        <div class="col-12 col-md-3">
                            <img class="img" src="../../../assets/img/aos-icon.png">
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-12">
                <mat-card data-aos="fade-down" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img class="img" src="../../../assets/img/moment-icon.png">
                        </div>
                        <div class="col-12 col-md-9">
                            <h1>
                                <a href="https://momentjs.com/">
                                    Moment.js
                                </a>
                            </h1>
                            <p>
                                Moment.js foi usado com sucesso em milhões de projetos, e estamos felizes por ter
                                contribuído para tornar a data e a hora melhores na web. Em setembro de 2020, o Moment
                                tinha mais de 12 milhões de downloads por semana! No entanto, o Moment foi criado para a
                                era anterior do ecossistema JavaScript. A web moderna parece muito diferente hoje em
                                dia. O Moment evoluiu um pouco ao longo dos anos, mas tem essencialmente o mesmo design
                                de quando foi criado em 2011. Como muitos projetos dependem dele, optamos por priorizar
                                a estabilidade em vez de novos recursos .
                            </p>
                            <p>
                                O Moment foi projetado para funcionar tanto no navegador quanto no Node.js.
                                Todo o código deve funcionar em ambos os ambientes e todos os testes de unidade são
                                executados em ambos os ambientes.
                                Atualmente, os seguintes navegadores são usados ​​para o sistema ci: Chrome no Windows
                                XP, IE 8, 9 e 10 no Windows 7, IE 11 no Windows 10, Firefox mais recente no Linux e
                                Safari mais recente no OSX 10.8 e 10.11.
                                Se você quiser experimentar os códigos de amostra abaixo, basta abrir o console do seu
                                navegador e inseri-los.
                            </p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>