<app-spinner [hidden]="!displaySpinner"></app-spinner>
<div class="body" fxLayout="row" fxLayoutAlign="center center">
    <div class="box">
        <div fxLayout="row" fxLayoutAlign="center center">
            <img class="img" src="../../../assets/img/box-login.png">
            <span class="login">Login</span>
        </div>
        <div class="row" fxLayoutAlign="center center">
            <mat-nav-list>
                <mat-list-item class="list-item" (click)="this.authService.loginGoogle()">
                    <img class="iconGoogle" src="../../../assets/img/google-icon.png">
                    <p matLine>
                        Google
                    </p>
                </mat-list-item>
                <mat-list-item class="list-item" (click)="this.authService.loginFacebook()">
                    <img class="iconFacebook" src="../../../assets/img/facebook-icon.png">
                    <p mat-line>
                        Facebook
                    </p>
                </mat-list-item>
                <mat-list-item class="list-item" [routerLink]="['']" routerLinkActive="active-link">
                    <p matLine>
                        Voltar ao inicio
                    </p>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </div>
</div>