.body{
    height: 100% !important;
    width:  100% !important;
    background-image: url(../../../assets/img/fundo-login.png);
    background-repeat: no-repeat;
}

.box{
    background:rgba(0,0,0,0.4);
    color: #fff;
    width: 300px;
    height: 200px;
}

.img{
    align-items: center !important;
    margin-top: -50px;
    margin-bottom: 0px;
    height: 100px;
    width: 100px;
}

.login{
    font-size:30px;
    font-weight: bold;
}

.mat-nav-list{
    width: 300px;
    text-align: center;
    
}

.list-item p{
    color: #fff;
    font-weight: bold;
}

.iconGoogle{
    width: 40px;
    height: 40px;
}

.iconFacebook{
    width: 45px;
    height: 45px;
}