<div id="demo" class="carousel slide col-12" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./../../../assets/img/landpage/carrocel/qmsomos.jpg">
        </div>
        <div class="carousel-item">
            <img src="./../../../assets/img/landpage/carrocel/nossacomunidade.jpg">
        </div>
        <div class="carousel-item">
            <img src="./../../../assets/img/landpage/carrocel/blog.png">
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Como surgimos?</h1>
            <p>
                A partir da necessidade tanto de alunos que estão em seu primeiro contato com a área da
                tecnologia para desenvolvimento de softwares, quanto para os que já as desbravam a um tempo,
                pois apesar da grande gama de informação sobre o assunto, muitas pessoas que ainda estão se
                adaptando com esse ambiente tão vasto de informação, necessitam de uma atenção direcionada.
            </p>
            <h1>O'que fazemos?</h1>
            <p>
                Estamos a procura de otimizar cada dia mais uma plataforma para resolução de problemas e
                questões de alunos de cursos que irão formar desenvolvedores, sejam eles da Estácio ou não e
                independente da linguagem!
                bred for hunting.
            </p>
        </div>
        <div class="col-12">
            <h1>Regras do Blog</h1>
            <h3>1° Não xingar!</h3>
            <p>
                Não é permitido qualquer tipo de ataque ou agreção verbal entre os membros do blog. Isso lhe
                deixará sujeito a ter o post ou até mesmo a conta deletada.
            </p>
            <h3>2° Não disseminar desinformação!</h3>
            <p>
                É absolutamente proibido qualquer tipo de resposta à questões sem um link de referência que
                encaminhe a um texto, dissertação, pdf, etc, que possa validar a resposta. Isso lhe deixará
                sujeito a ter o post ou até mesmo a conta deletada.
            </p>
            <h3>3° Não seja superficial!</h3>
            <p>
                Tanto quando for responder, quanto quando tiver uma questão, é necessário fornecer o máximo de
                informações possível.
            </p>
        </div>
    </div>
</div>