<app-navbar></app-navbar>
<app-spinner *ngIf="displaySpinner"></app-spinner>
<app-toasty></app-toasty>
<p-table [value]="usuarios" [responsive]="true" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Registro {first} até {last} com total de {totalRecords} registros">
    <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix" style="text-align: center">
            Lista de usuários
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr style="text-align: center;">
            <th style="width: 75px;"></th>
            <th style="width: 15em;">Nome</th>
            <th>Email</th>
            <th style="width: 10em;">Tipo</th>
            <th style="width: 7em;">Situação</th>
            <th style="width: 5em;">Opções</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr class="ui-selectable-row" style="text-align: center;">
            <td>
                <img class="img" [src]="rowData.data.photoURL">
            </td>
            <td>
                <a href="#" (click)="apoioService.getUserAccount(rowData.id)">
                    {{rowData.data.name}} 
                </a>    
            </td>
            <td>{{rowData.data.mail}}</td>
            <td>{{rowData.data.type}}</td>
            <td [style.color]="rowData.data.isActive?'green':'red'">
                {{rowData.data.isActive?'Ativo':'Inátivo'}}
            </td>
            <td>
                <button pButton pRipple type="button" class="p-button-rounded p-button-outlined" icon="pi pi-pencil"
                    (click)="getUsuario(rowData.id)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td>
                <h2>Sem dados para listar.</h2>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>
</p-table>

<app-user-form-model [displayForm]="display" [userDTO]="this.userDTO" [isType]="true" [isActive]="true"
    (retornoPersistencia)="getRetornoFormPessoa($event)" [isUpdate]="true"></app-user-form-model>